.health-data {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.health-data .overlap-wrapper {
    background-color: #ffffff;
    height: 932px;
    overflow: hidden;
    width: 430px;
}

.health-data .overlap {
    height: 932px;
    position: relative;
}

.health-data .img {
    height: 932px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 430px;
}

.health-data .type-edit-avatar {
    background-color: #ffffff;
    border-radius: 100px;
    height: 80px;
    left: 25px;
    overflow: hidden;
    position: absolute;
    top: 70px;
    width: 80px;
}

.health-data .layer {
    height: 80px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 80px;
}

.health-data .frame {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 3px;
    left: 117px;
    position: absolute;
    top: 88px;
    width: 123px;
}

.health-data .text-wrapper {
    align-self: stretch;
    color: #1b1a1e;
    font-family: "Anek Odia-SemiBold", Helvetica;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
}

.health-data .div {
    align-self: stretch;
    color: #1b1a1e66;
    font-family: "Anek Odia-Medium", Helvetica;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
}

.health-data .status-bar {
    height: 59px;
    left: 0;
    position: absolute;
    top: 0;
    width: 430px;
}

.health-data .time {
    height: 59px;
    left: 0;
    position: absolute;
    top: 0;
    width: 154px;
}

.health-data .time-2 {
    color: var(--labelsprimary);
    font-family: "Anek Odia-SemiBold", Helvetica;
    font-size: 18.6px;
    font-weight: 600;
    left: 29px;
    letter-spacing: 0;
    line-height: 24.1px;
    position: absolute;
    text-align: center;
    top: 14px;
    white-space: nowrap;
}

.health-data .levels {
    height: 59px;
    left: 276px;
    position: absolute;
    top: 0;
    width: 154px;
}

.health-data .battery {
    height: 14px;
    left: 99px;
    position: absolute;
    top: 20px;
    width: 30px;
}

.health-data .overlap-group {
    border: 1.09px solid;
    border-color: var(--labelsprimary);
    border-radius: 4.7px;
    height: 14px;
    left: 0;
    position: absolute;
    top: 0;
    width: 27px;
}

.health-data .capacity {
    background-color: var(--labelsprimary);
    border-radius: 2.74px;
    height: 10px;
    left: 1px;
    position: relative;
    top: 1px;
    width: 23px;
}

.health-data .cap {
    height: 4px;
    left: 28px;
    position: absolute;
    top: 5px;
    width: 1px;
}

.health-data .wifi {
    height: 13px;
    left: 72px;
    position: absolute;
    top: 21px;
    width: 19px;
}

.health-data .cellular-connection {
    height: 13px;
    left: 43px;
    position: absolute;
    top: 21px;
    width: 21px;
}

.health-data .frame-2 {
    height: 42px;
    left: 363px;
    position: absolute;
    top: 89px;
    width: 42px;
}

.health-data .frame-3 {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    left: 25px;
    position: absolute;
    top: 166px;
}

.health-data .text-wrapper-2 {
    color: #1b1a1ecc;
    font-family: "Anek Odia-Medium", Helvetica;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
}

.health-data .text-wrapper-3 {
    color: #5a90e1;
    font-family: "Anek Odia-SemiBold", Helvetica;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    width: fit-content;
}

.health-data .frame-4 {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    left: 150px;
    position: absolute;
    top: 166px;
}

.health-data .frame-5 {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    left: 270px;
    position: absolute;
    top: 166px;
}

.health-data .text-wrapper-4 {
    color: #55d262;
    font-family: "Anek Odia-SemiBold", Helvetica;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    text-align: center;
    width: 78px;
}

.health-data .frame-6 {
    background-color: #ffffff;
    border-color: #ededed;
    border-top-style: solid;
    border-top-width: 1px;
    height: 90px;
    left: 0;
    position: absolute;
    top: 842px;
    width: 430px;
}

.health-data .home {
    height: 46px;
    left: 85px;
    position: absolute;
    top: 22px;
    width: 26px;
}

.health-data .my-recepits {
    height: 46px;
    left: 148px;
    position: absolute;
    top: 22px;
    width: 56px;
}

.health-data .bookmark {
    height: 24px;
    left: 16px;
    position: absolute;
    top: 0;
    width: 24px;
}

.health-data .text-wrapper-5 {
    color: #1b1a1e66;
    font-family: "Anek Odia-Medium", Helvetica;
    font-size: 10px;
    font-weight: 500;
    height: 17px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 29px;
}

.health-data .offers {
    height: 45px;
    left: 227px;
    position: absolute;
    top: 23px;
    width: 52px;
}

.health-data .text-wrapper-6 {
    color: #5990e1;
    font-family: "Anek Odia-Medium", Helvetica;
    font-size: 10px;
    font-weight: 500;
    height: 17px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 28px;
}

.health-data .discount {
    height: 24px;
    left: 14px;
    position: absolute;
    top: 0;
    width: 24px;
}

.health-data .setting {
    height: 46px;
    left: 314px;
    position: absolute;
    top: 21px;
    width: 33px;
}

.health-data .setting-2 {
    height: 24px;
    left: 4px;
    position: absolute;
    top: 0;
    width: 24px;
}

.health-data .home-indicator {
    background-color: #e0e0e0;
    border-radius: 80px;
    height: 5px;
    left: 150px;
    position: absolute;
    top: 78px;
    width: 130px;
}

.health-data .frame-7 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 12px;
    left: 25px;
    position: absolute;
    top: 241px;
    width: 380px;
}

.health-data .frame-8 {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

.health-data .text-wrapper-7 {
    color: #1b1a1e;
    font-family: "Anek Odia-SemiBold", Helvetica;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
}

.health-data .frame-9 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
    width: 5px;
}

.health-data .frame-10 {
    background-color: #1b1a1e;
    border-radius: 80px;
    height: 4px;
    position: relative;
    width: 4px;
}

.health-data .frame-11 {
    align-self: stretch;
    background-color: #e8e8ff;
    border-radius: 20px;
    height: 552px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.health-data .frame-12 {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    left: 23px;
    position: absolute;
    top: 30px;
}

.health-data .text-wrapper-8 {
    color: #1b1a1e;
    font-family: "Anek Odia-SemiBold", Helvetica;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    width: fit-content;
}

.health-data .frame-13 {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    left: 154px;
    position: absolute;
    top: 30px;
}

.health-data .frame-14 {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    left: 270px;
    position: absolute;
    top: 30px;
}

.health-data .table-health-stats {
    align-items: flex-start;
    background-color: #ffffff;
    border-radius: 22px;
    display: flex;
    flex-direction: column;
    height: 391px;
    left: 31px;
    position: absolute;
    top: 403px;
    width: 361px;
}

.health-data .table-header-component {
    flex: 0 0 auto !important;
}

.health-data .edits-by-sammy {
    height: 358px;
    left: 31px;
    position: absolute;
    top: 418px;
    width: 381px;
}

.health-data .text-wrapper-9 {
    color: #5a90e2;
    font-family: "Inter-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 256px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 9px;
}

.health-data .text-wrapper-10 {
    color: #5a90e2;
    font-family: "Inter-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 256px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 36px;
    white-space: nowrap;
    width: 24px;
}

.health-data .text-wrapper-11 {
    color: #5a90e2;
    font-family: "Inter-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 256px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 75px;
    white-space: nowrap;
    width: 33px;
}

.health-data .text-wrapper-12 {
    color: #5a90e2;
    font-family: "Inter-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 256px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 117px;
    white-space: nowrap;
    width: 9px;
}

.health-data .text-wrapper-13 {
    color: #5a90e2;
    font-family: "Inter-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 256px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 153px;
    white-space: nowrap;
    width: 24px;
}

.health-data .text-wrapper-14 {
    color: #5a90e2;
    font-family: "Inter-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 256px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 192px;
    white-space: nowrap;
    width: 9px;
}

.health-data .text-wrapper-15 {
    color: #5a90e2;
    font-family: "Inter-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 255px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 232px;
    white-space: nowrap;
    width: 29px;
}

.health-data .text-wrapper-16 {
    color: #5a90e2;
    font-family: "Inter-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 255px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 268px;
    white-space: nowrap;
    width: 9px;
}

.health-data .text-wrapper-17 {
    color: #5a90e2;
    font-family: "Inter-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 255px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 307px;
    white-space: nowrap;
    width: 40px;
}

.health-data .text-wrapper-18 {
    color: #5a90e2;
    font-family: "Inter-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 255px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 346px;
    white-space: nowrap;
    width: 9px;
}

.health-data .rectangle {
    background-color: #d9d9d9;
    height: 1px;
    left: 0;
    position: absolute;
    top: 27px;
    width: 361px;
}

.health-data .rectangle-2 {
    background-color: #d9d9d9;
    height: 1px;
    left: 0;
    position: absolute;
    top: 66px;
    width: 361px;
}

.health-data .rectangle-3 {
    background-color: #d9d9d9;
    height: 1px;
    left: 0;
    position: absolute;
    top: 102px;
    width: 361px;
}

.health-data .rectangle-4 {
    background-color: #d9d9d9;
    height: 1px;
    left: 0;
    position: absolute;
    top: 143px;
    width: 361px;
}

.health-data .rectangle-5 {
    background-color: #d9d9d9;
    height: 1px;
    left: 0;
    position: absolute;
    top: 181px;
    width: 361px;
}

.health-data .rectangle-6 {
    background-color: #d9d9d9;
    height: 1px;
    left: 0;
    position: absolute;
    top: 221px;
    width: 361px;
}

.health-data .rectangle-7 {
    background-color: #d9d9d9;
    height: 1px;
    left: 0;
    position: absolute;
    top: 259px;
    width: 361px;
}

.health-data .rectangle-8 {
    background-color: #d9d9d9;
    height: 1px;
    left: 0;
    position: absolute;
    top: 297px;
    width: 361px;
}

.health-data .rectangle-9 {
    background-color: #d9d9d9;
    height: 1px;
    left: 0;
    position: absolute;
    top: 338px;
    width: 361px;
}
