.login {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.login .overlap-wrapper {
    background-color: #ffffff;
    height: 932px;
    overflow: hidden;
    width: 430px;
}

.login .overlap {
    height: 932px;
    position: relative;
}

.login .img {
    height: 932px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 430px;
}

.login .div-wrapper {
    align-items: center;
    background-color: #5990e1;
    border-radius: 15px;
    box-shadow: 0px 25px 50px #5a90e226;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 62px;
    justify-content: center;
    left: 25px;
    padding: 16px 24px;
    position: absolute;
    top: 574px;
    width: 380px;
}

.login .div {
    color: #ffffff;
    font-family: "Anek Odia-SemiBold", Helvetica;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    margin-bottom: -1px;
    margin-top: -3px;
    position: relative;
    width: fit-content;
}

.login .social-button {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #d0d5dd;
    border-radius: 15px;
    height: 62px;
    left: 25px;
    overflow: hidden;
    position: absolute;
    top: 733px;
    width: 380px;
}

.login .frame-2 {
    align-items: center;
    display: inline-flex;
    gap: 10px;
    left: 99px;
    position: relative;
    top: 17px;
}

.login .social-icon {
    height: 28px !important;
    position: relative !important;
    width: 28px !important;
}

.login .text-wrapper-2 {
    color: #1b1a1e;
    font-family: "Anek Odia-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -0.5px;
    opacity: 0.8;
    position: relative;
    text-align: center;
    width: fit-content;
}

.login .frame-3 {
    align-items: center;
    display: inline-flex;
    gap: 20px;
    left: 51px;
    position: absolute;
    top: 696px;
}

.login .frame-4 {
    background: linear-gradient(180deg, rgb(48, 48, 48) 0%, rgb(255, 255, 255) 100%);
    border-radius: 20px;
    height: 1px;
    opacity: 0.3;
    position: relative;
    transform: rotate(180deg);
    width: 90px;
}

.login .forgot-password-2 {
    color: #1b1a1e;
    font-family: "Anek Odia-Medium", Helvetica;
    font-size: 14.3px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: fit-content;
}

.login .frame-5 {
    background: linear-gradient(180deg, rgb(48, 48, 48) 0%, rgb(255, 255, 255) 100%);
    border-radius: 20px;
    height: 1px;
    opacity: 0.3;
    position: relative;
    width: 90px;
}

.login .frame-6 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 7px;
    left: 25px;
    position: absolute;
    top: 427px;
    width: 380px;
}

.login .text-wrapper-3 {
    align-self: stretch;
    color: #1b1a1e99;
    font-family: "Anek Odia-Medium", Helvetica;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
}

.login .frame-7 {
    align-self: stretch;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #e3e3e3;
    border-radius: 12px;
    height: 56px;
    position: relative;
    width: 100%;
}

.login .ellipse-copy {
    height: 6px;
    left: 49px;
    position: absolute;
    top: 25px;
    width: 85px;
}

.login .eye {
    height: 22px;
    left: 339px;
    position: absolute;
    top: 17px;
    width: 22px;
}

.login .union-wrapper {
    height: 30px;
    left: 10px;
    position: absolute;
    top: 11px;
    width: 30px;
}

.login .union {
    height: 20px;
    left: 6px;
    position: absolute;
    top: 5px;
    width: 17px;
}

.login .frame-8 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 7px;
    left: 25px;
    position: absolute;
    top: 315px;
    width: 380px;
}

.login .frame-9 {
    align-self: stretch;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #e3e3e3;
    border-radius: 12px;
    height: 57px;
    position: relative;
    width: 100%;
}

.login .frame-10 {
    height: 31px;
    left: 10px;
    position: absolute;
    top: 13px;
    width: 31px;
}

.login .sarah-collin {
    color: #e0e0e0;
    font-family: "Anek Odia-Medium", Helvetica;
    font-size: 18px;
    font-weight: 500;
    left: 49px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 17px;
}

.login .frame-16 {
    left: 113px !important;
    position: absolute !important;
    top: 845px !important;
}

.login .frame-11 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    left: 96px;
    position: absolute;
    top: 121px;
    width: 228px;
}

.login .text-wrapper-4 {
    align-self: stretch;
    color: #1a1a1d;
    font-family: "Anek Odia-SemiBold", Helvetica;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    text-align: center;
}

.login .text-wrapper-5 {
    align-self: stretch;
    color: #1b1a1e;
    font-family: "Anek Odia-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    opacity: 0.5;
    position: relative;
    text-align: center;
}

.login .text-wrapper-6 {
    color: #1b1a1e;
    font-family: "Anek Odia-Medium", Helvetica;
    font-size: 14px;
    font-weight: 500;
    left: 298px;
    letter-spacing: 0;
    line-height: normal;
    opacity: 0.5;
    position: absolute;
    text-align: right;
    text-decoration: underline;
    top: 522px;
}

.login .status-bar {
    height: 59px;
    left: 0;
    position: absolute;
    top: 0;
    width: 430px;
}

.login .time {
    height: 59px;
    left: 0;
    position: absolute;
    top: 0;
    width: 154px;
}

.login .time-2 {
    color: var(--labelsprimary);
    font-family: "Anek Odia-SemiBold", Helvetica;
    font-size: 18.6px;
    font-weight: 600;
    left: 29px;
    letter-spacing: 0;
    line-height: 24.1px;
    position: absolute;
    text-align: center;
    top: 14px;
    white-space: nowrap;
}

.login .levels {
    height: 59px;
    left: 276px;
    position: absolute;
    top: 0;
    width: 154px;
}

.login .battery {
    height: 14px;
    left: 99px;
    position: absolute;
    top: 20px;
    width: 30px;
}

.login .overlap-group {
    border: 1.09px solid;
    border-color: var(--labelsprimary);
    border-radius: 4.7px;
    height: 14px;
    left: 0;
    position: absolute;
    top: 0;
    width: 27px;
}

.login .capacity {
    background-color: var(--labelsprimary);
    border-radius: 2.74px;
    height: 10px;
    left: 1px;
    position: relative;
    top: 1px;
    width: 23px;
}

.login .cap {
    height: 4px;
    left: 28px;
    position: absolute;
    top: 5px;
    width: 1px;
}

.login .wifi {
    height: 13px;
    left: 72px;
    position: absolute;
    top: 21px;
    width: 19px;
}

.login .cellular-connection {
    height: 13px;
    left: 43px;
    position: absolute;
    top: 21px;
    width: 21px;
}
